Repository Kwanhooo/kunpeng-edu-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-less

fix: 修复了类型检查不通过的部分代码
  index.html
  package.json
  src/main.ts
  src/mock/services/structure/user.ds.ts
  src/utils/axios.ts
  src/utils/request.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: 添加班级绑定的mock
  .eslintrc.cjs
  docs/database-ddl.md
  src/api/bind-class.ts
  src/mock/index.ts
  src/mock/services/teacher.ts
  src/store/index.ts
  src/store/modules/teacher.ts
  src/utils/fieldUtil.ts
  src/views/class/bind/ClassBind.vue
  src/views/common/loginSub.vue
Due: eslint --fix, prettier --write

fix: 修复错误的图片路径
  src/layouts/BasicFooter.vue
  src/store/modules/user.ts
Due: eslint --fix, prettier --write

fix: 尝试修复Vercel的404问题
  vercel.json
  vite.config.ts
Due: eslint --fix, prettier --write

fix: 修复了从其他页面返回至具有SUB_NAV的页面时，SUB_NAV不能正确载入的问题
  src/assets/svgs/go-back.svg
  src/core/permission.ts
  src/mock/services/teacher.ts
  src/views/class/analysis/ClassAnalysis.vue
Due: eslint --fix, prettier --write

fix: [1]修复了与antdv的冲突问题;[2]通过之前新增的一些action，已将所有的页面，迁移至单页模式
  src/layouts/BasicHeader.vue
  src/layouts/BasicLayout.less
  src/layouts/BasicSubMenu.vue
  src/main.ts
  src/router/dynamic-router.ts
  src/views/class/bind/ClassBind.less
  src/views/general/notification/Notification.vue
  src/views/general/schedule/Schedule.vue
  src/views/general/settings/Settings.vue
  src/views/general/support/Support.vue
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-less

fix: [1]修复样式bug;[2]暂时去掉了andv的按需加载，因为有冲突问题
  src/assets/fonts/dm-italic.otf
  src/layouts/BasicHeader.vue
  src/layouts/BasicLayout.less
  src/views/class/dashboard/ClassDashboard.less
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-less

feat: [1]新增骨架屏;[2]新增图片上传脚本
  components.d.ts
  src/assets/svgs/go-back.svg
  src/assets/upload-img.sh
  src/components/SimpleBlock/SimpleBlock.less
  src/layouts/BasicHeader.vue
  src/layouts/BasicLayout.less
  src/layouts/PageView.vue
  src/layouts/RichTextParse.less
  src/mock/index.ts
  src/views/class/analysis/ClassAnalysis.vue
  src/views/class/dashboard/ClassDashboard.vue
  src/views/general/index/Index.vue
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-less

refactor: 将字体编为woff2格式，透过assets/font/的less引入至所需的地方
  src/assets/fonts/dank-mono/dank-mono-italic.woff2
  src/assets/fonts/dank-mono/dank-mono.less
  src/assets/fonts/dm-italic.otf
  src/views/class/dashboard/ClassDashboard.less
Due: stylelint --fix --custom-syntax postcss-less

chore: 更新README
  README.md
Due: none

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

Update node.js.yml
  .github/workflows/node.js.yml
Due: none

Path conditions:
  eslint --fix: (any of: *.vue) or (any of: *.{js,jsx,ts,tsx})
  prettier --write: (any of: *.vue) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix --custom-syntax postcss-less: any of: *.{css,less}
